<div class="header">
  <dx-select-box
    [width]="200"
    [dataSource]="dashboards"
    [(value)]="dashboardId"
    valueExpr='id'
    displayExpr='name'>
  </dx-select-box>

  <dx-button
    stylingMode="contained"
    [text]="workingModeText"
    type="normal"
    (onClick)="changeWorkingMode()">
  </dx-button>
</div>

<div class="content">
  <dx-dashboard-control 
    endpoint='http://localhost:5000/api/dashboard'
    [(dashboardId)]="dashboardId"
    [workingMode]='workingMode'
    (onBeforeRender)='onBeforeRender($event)'>
  </dx-dashboard-control>
</div>